/* navbar styles  */
#navbar img {
    height: 3rem;
}
#navbar {
display: flex;
flex-direction: column;
padding: 1rem;
align-items: left;
}
#navbar ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;

    }

    #navbar ul li {
        width: 100%;
        border: 1px #74B9FF;
        }

    #navbar ul li:hover ul{
        width: 100%;
        position: relative;
        }

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    align-items:left;

}
#navbar ul li a:hover {
color: #74B9FF;
}


/* Icon align left  */
#service .items{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
#service .items .item{
display: flex;
}

.l-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 2rem;
 };

 @media(max-width:500px){
    #navbar {
        flex-direction: column;
        align-items: center;
    }
 }

 #showcase {
    height: 300px;
}
#clients .items .item img {
    height: 2rem;
}

/* about style  */

#about{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
