/* main styles  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color:#4834DF;
    --secondary-color:#74B9FF;
    --light-color:#f4f4f4;
    --dark-color:#333;
    --light-text-color:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* Utility Class styles  */
.text-primary {
color: var(--primary-color);
}
.text-secondary {
    color: var(--light-text-color);
    }

.container{
max-width: 1100px;
margin: auto;
padding: 0 2rem;
overflow: hidden;
}
.text-center{
text-align: center;
}

.l-heading{
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.1rem;
    color: var(--light-text-color);
    text-shadow:2px 2px 0 var(--dark-color)};


.m-heading{
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 1.1rem;
}

.bg-light { background: var(--light-color);
    color: var(--primary-color);
}
.bg-primary {
    background: var(--primary-color);
    color: var(--light-text-color);
}

.bg-middle {
    background:var(--primary-color);
    /* color: #fff; */
}

.bg-dark {
    background: var(--dark-color);
    color: var(--light-text-color);
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn-menu {
    background: var(--primary-color);
    color: var(--light-text-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.btn-menu:hover {
    color: var(--secondary-color);
}


.btn {
    background: var(--primary-color);
    color: var(--light-text-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}

.btn-middle {
    background: var(--dark-color);
    color: var(--light-text-color);
}

.btn:hover {
    background: var(--secondary-color);
}

.py-1{
padding: 2rem 0;
margin: 2rem;;
}
.py-2{
padding: 3rem 0;
}
.py-3{
padding: 4rem 0;
}

.p-1{
    padding: 2rem;
    margin: 2rem;
    }
.p-2{
    padding: 3rem;
    }
.p-3{
    padding: 4rem;
    }




/* navbar styles  */
#navbar img {
    height: 4rem;
}

#navbar {
    display: flex;
position: sticky;
top: 0;
background: var(--primary-color);
color: var(--light-text-color);
justify-content: space-between;
z-index: 1;
padding: 1rem;
}
#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    }


#navbar ul li{
color: var(--light-text-color);
display: inline-block;
padding: 1rem;
position: relative;
}

#navbar ul li:hover{
    cursor: pointer;
    color: var(--secondary-color);

    }

#navbar ul li a{
    color: var(--light-text-color);
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover {
color: var(--secondary-color);
}

/* Hide drop down menu item  */
#navbar ul li ul{
    display: none;
}

/* show Hidden drop down menu item  */
#navbar ul li:hover ul{
    display: block;
    position:absolute;
    left: 0;
    width: auto;
    margin-top: 1rem;
}

#navbar ul li:hover ul li{

display:block;
background: var(--primary-color);

}



/* showcase  */
#showcase {
    background: var(--light-color) url(../img/455015842_122169659300223785_1564571198747480703_n.jpg) no-repeat center center/cover;
    height: 800px;
}


#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

#service .items{
    display: flex;
    padding: 1rem;

}

#service .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#service .items .item i{
background: var(--primary-color);
padding: 1rem;
border-radius: 100%;
margin-bottom: 1rem;
color: var(--light-text-color);
}

/* about style  */

#about {
    display: flex;
    height: 100%;
}

#about div {
    flex: 1;
}

#about .about-img{
    background: url(../img/img4.jpg) no-repeat center center/cover;
}

#about .about-text{
    padding-top: 1rem;
}


/* clients style  */

#clients .items{
    display: flex;
}
#clients .items .item {
    flex: 1;
}
#clients .items .item img{
    height: 5rem;
}

/* section contacts  */
#contact {
display: flex;
}

#contact .contact-form, #contact .map {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 1.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input, #contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

#contact .contact-form textarea {
    height: 4rem;

}
